footer{
    background: var(--color-bg);
    padding: 3rem 2rem;
    text-align: right;
    font-size: 0.9rem;
    margin-top: 7rem;
}

footer a{
    color: var(--color-bg);
}

.sendToTop a {
    line-height: 1;
}

.permalink-icon {
    font-size: 1.5rem;
    color: var(--color-primary);
    vertical-align: middle;
    transition: var(--transition);
}

.permalink-icon:hover {
    color: var(--color-bg-variant);
}